body {
  font-family: 'Poppins', sans-serif;
  margin: 4px;
}

.color {
  color: orangered;
}

h1 {
  font-size: 50px;
  color: darkslategray;
}

.half-width {
  width: 40%;
  font-weight: 700;
  color: dimgrey;
  padding-left: 4%;
}

#p1 {
  margin-bottom: 10%;
}

#p2 {
  margin-bottom: 20%;
}

.top {
  display: flex;
  margin-bottom: 10%;
}

.button {
  text-decoration: none;
  font-weight: 700;
  border-radius: 30px;
  color: azure;
  background-color: orangered;
  padding: 20px 50px;
  box-shadow: 10px 10px 40px rgb(233, 91, 114);
}

.image {
  width: 50%;
  padding-left: 30%;
  padding-top: 2%;

}

.half {
  width: 50%;
  padding-right: 10%;
  padding-top: 4%;

}

#a1 {
  margin-top: 30%;
}

.bottom {
  background-image: url(Images/shapes/7.png);
  background-repeat: no-repeat;
}

.text {
  text-align: center;
  width: 50%;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 4%;
}

.img2 {
  width: 100%;
  padding-left: 5%;
}

.img3 {
  width: 100%;
}

.img4 {
  width: 100%;
  padding-right: 5%;
}

.half1 {
  width: 40%;
  padding: 5%;
  color: darkcyan;
}

.id1 {
  width: 30%;
  margin-left: 4%;
  margin-right: 2%;
  box-shadow: 10px 10px 40px gray;
  border-radius: 20px;
  height: 15%;
  padding-left: 4%;
}