body {
  font-family: 'Poppins', sans-serif;
  margin: 0%;
}

.color {
  color: orangered;
}

h1 {
  font-size: 50px;
  color: darkslategray;
}

h3 {
  padding-left: 30%;
  width: 50%;
  font-size: 30px;
}

h4 {
  font-size: 20px;
  font-weight: 900;
}

h2 {
  text-align: center;
  font-size: 30px;
  padding-left: 4%;
}

#hh h1 {
  font-size: 20%;
}

.half-width {
  width: 40%;
  font-weight: 700;
  color: dimgrey;
  padding-left: 4%;
}

#p1 {
  margin-bottom: 10%;
}

#p2 {
  margin-bottom: 20%;
}

.top {
  display: flex;
  margin-bottom: 10%;
}

.button {
  text-decoration: none;
  font-weight: 700;
  border-radius: 30px;
  color: azure;
  background-color: orangered;
  padding: 20px 50px;
  box-shadow: 10px 10px 40px rgb(233, 91, 114);
}

.image {
  width: 50%;
  padding-left: 30%;
  padding-top: 2%;

}

.half {
  width: 50%;
  padding-right: 10%;
  padding-top: 4%;

}

#a1 {
  margin-top: 30%;
}

.bottom {
  background-image: url(images/shapes/7.png);
  background-repeat: no-repeat;
}

.text {
  text-align: center;
  width: 50%;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 4%;
}

.img2 {
  width: 100%;
  padding-left: 5%;
}

.img3 {
  width: 100%;
}

.img4 {
  width: 100%;
  padding-right: 5%;
}

.half1 {
  width: 40%;
  padding: 5%;
  color: darkcyan;
}

.id1 {
  width: 25%;
  margin-left: 4%;
  margin-right: 2%;
  box-shadow: 10px 10px 40px gray;
  border-radius: 20px;
  height: 15%;
  padding-left: 4%;
}

.img5 {
  box-shadow: 20px 5px 40px pink;
  margin-left: 10%;
  border-radius: 20px;

}

.img6 img {
  width: 75%;
  height: 70%;
  margin-left: 20%;
  box-shadow: 20px 5px 40px pink;
  border-radius: 15px;
}

#color1 {
  color: gray;
}

.div1 {
  text-align: center;
  background-color: black;
  padding: 30px 20px;
}

#p3 {
  color: whitesmoke;
}