body {
  font-family: 'Poppins', sans-serif;
  margin: 4px;
}

.color {
  color: orangered;
}

h1 {
  font-size: 50px;
  color: darkslategray;
}

.half-width {
  width: 40%;
  font-weight: 700;
  color: dimgrey;
  padding-left: 4%;
}

#p1 {
  margin-bottom: 10%;
}

.top {
  display: flex;
  margin-bottom: 100%;
}

.button {
  text-decoration: none;
  border-radius: 30px;
  color: azure;
  background-color: orangered;
  padding: 20px 50px;
  box-shadow: 10px 10px 40px rgb(233, 91, 114);
}